// @font-face {
// 	font-family: 'HelveticaNeue';
// 	src: url('../fonts/HelveticaNeue.eot');
// 	src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
// 			url('../fonts/HelveticaNeue.woff2') format('woff2'),
// 			url('../fonts/HelveticaNeue.woff') format('woff'),
// 			url('../fonts/HelveticaNeue.ttf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// }


// @font-face {
// 	font-family: 'HelveticaNeueBold';
// 	src: url('../fonts/HelveticaNeueBold.eot');
// 	src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
// 			url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
// 			url('../fonts/HelveticaNeueBold.woff') format('woff'),
// 			url('../fonts/HelveticaNeueBold.ttf') format('truetype');
// 	font-weight: bold;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'HelveticaNeueLight';
// 	src: url('../fonts/HelveticaNeueLight.eot');
// 	src: url('../fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
// 			url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
// 			url('../fonts/HelveticaNeueLight.woff') format('woff'),
// 			url('../fonts/HelveticaNeueLight.ttf') format('truetype');
// 	font-weight: 300;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'HelveticaNeueThin';
// 	src: url('../fonts/HelveticaNeueThin.eot');
// 	src: url('../fonts/HelveticaNeueThin.eot?#iefix') format('embedded-opentype'),
// 			url('../fonts/HelveticaNeueThin.woff2') format('woff2'),
// 			url('../fonts/HelveticaNeueThin.woff') format('woff'),
// 			url('../fonts/HelveticaNeueThin.ttf') format('truetype');
// 	font-weight: 100;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'HelveticaNeueMedium';
// 	src: url('../fonts/HelveticaNeueMedium.eot');
// 	src: url('../fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
// 			url('../fonts/HelveticaNeueMedium.woff2') format('woff2'),
// 			url('../fonts/HelveticaNeueMedium.woff') format('woff'),
// 			url('../fonts/HelveticaNeueMedium.ttf') format('truetype');
// 	font-weight: 500;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'HelveticaNeueItalic';
// 	src: url('../fonts/HelveticaNeueItalic.eot');
// 	src: url('../fonts/HelveticaNeueItalic.eot?#iefix') format('embedded-opentype'),
// 			url('../fonts/HelveticaNeueItalic.woff2') format('woff2'),
// 			url('../fonts/HelveticaNeueItalic.woff') format('woff'),
// 			url('../fonts/HelveticaNeueItalic.ttf') format('truetype');
// 	font-weight: 100;
// 	font-style: italic;
// }

// // @font-face {
// // 	font-family: 'HelveticaNeue';
// // 	src: url('../fonts/HelveticaNeueBold_1.eot');
// // 	src: url('../fonts/HelveticaNeueBold_1.eot?#iefix') format('embedded-opentype'),
// // 			url('../fonts/HelveticaNeueBold_1.woff2') format('woff2'),
// // 			url('../fonts/HelveticaNeueBold_1.woff') format('woff'),
// // 			url('../fonts/HelveticaNeueBold_1.ttf') format('truetype');
// // 	font-weight: bold;
// // 	font-style: normal;
// // }

// @font-face {
// 	font-family: 'HelveticaNeueHeavy';
// 	src: url('../fonts/HelveticaNeueHeavy.eot');
// 	src: url('../fonts/HelveticaNeueHeavy.eot?#iefix') format('embedded-opentype'),
// 			url('../fonts/HelveticaNeueHeavy.woff2') format('woff2'),
// 			url('../fonts/HelveticaNeueHeavy.woff') format('woff'),
// 			url('../fonts/HelveticaNeueHeavy.ttf') format('truetype');
// 	font-weight: 900;
// 	font-style: normal;
// }

// // @font-face {
// // 	font-family: 'HelveticaNeue';
// // 	src: url('../fonts/HelveticaNeueMedium_1.eot');
// // 	src: url('../fonts/HelveticaNeueMedium_1.eot?#iefix') format('embedded-opentype'),
// // 			url('../fonts/HelveticaNeueMedium_1.woff2') format('woff2'),
// // 			url('../fonts/HelveticaNeueMedium_1.woff') format('woff'),
// // 			url('../fonts/HelveticaNeueMedium_1.ttf') format('truetype');
// // 	font-weight: 500;
// // 	font-style: normal;
// // }

// @font-face {
// 	font-family: 'HelveticaNeueRegular';
// 	src: url('../fonts/HelveticaNeueRegular.eot');
// 	src: url('../fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
// 			url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),
// 			url('../fonts/HelveticaNeueRegular.woff') format('woff'),
// 			url('../fonts/HelveticaNeueRegular.ttf') format('truetype');
// 	font-weight: 100;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'HelveticaNeueBlackCond';
// 	src: url('../fonts/HelveticaNeueBlackCond.eot');
// 	src: url('../fonts/HelveticaNeueBlackCond.eot?#iefix') format('embedded-opentype'),
// 			url('../fonts/HelveticaNeueBlackCond.woff2') format('woff2'),
// 			url('../fonts/HelveticaNeueBlackCond.woff') format('woff'),
// 			url('../fonts/HelveticaNeueBlackCond.ttf') format('truetype');
// 	font-weight: 900;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'HelveticaNeue';
// 	src: url('../fonts/HelveticaNeueLight_1.eot');
// 	src: url('../fonts/HelveticaNeueLight_1.eot?#iefix') format('embedded-opentype'),
// 			url('../fonts/HelveticaNeueLight_1.woff2') format('woff2'),
// 			url('../fonts/HelveticaNeueLight_1.woff') format('woff'),
// 			url('../fonts/HelveticaNeueLight_1.ttf') format('truetype');
// 	font-weight: 300;
// 	font-style: normal;
// }

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/AvenirNextLTPro-Regular.eot');
	src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
			url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
			url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-ThinItalic';
	src: url('../fonts/HelveticaNeue-ThinItalic.eot');
	src: url('../fonts/HelveticaNeue-ThinItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/HelveticaNeue-ThinItalic.woff2') format('woff2'),
			url('../fonts/HelveticaNeue-ThinItalic.woff') format('woff'),
			url('../fonts/HelveticaNeue-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeue-MediumItalic';
	src: url('../fonts/HelveticaNeue-MediumItalic.eot');
	src: url('../fonts/HelveticaNeue-MediumItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/HelveticaNeue-MediumItalic.woff2') format('woff2'),
			url('../fonts/HelveticaNeue-MediumItalic.woff') format('woff'),
			url('../fonts/HelveticaNeue-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueBold';
	src: url('../fonts/HelveticaNeue-Bold.eot');
	src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
			url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
			url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueItalic';
	src: url('../fonts/HelveticaNeue-Italic.eot');
	src: url('../fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/HelveticaNeue-Italic.woff2') format('woff2'),
			url('../fonts/HelveticaNeue-Italic.woff') format('woff'),
			url('../fonts/HelveticaNeue-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueLight';
	src: url('../fonts/HelveticaNeue-Light.eot');
	src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/HelveticaNeue-Light.woff2') format('woff2'),
			url('../fonts/HelveticaNeue-Light.woff') format('woff'),
			url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueMedium';
	src: url('../fonts/HelveticaNeue-Medium.eot');
	src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'),
			url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
			url('../fonts/HelveticaNeue-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue.eot');
	src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
			url('../fonts/HelveticaNeue.woff2') format('woff2'),
			url('../fonts/HelveticaNeue.woff') format('woff'),
			url('../fonts/HelveticaNeue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueThin';
	src: url('../fonts/HelveticaNeue-Thin.eot');
	src: url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
			url('../fonts/HelveticaNeue-Thin.woff2') format('woff2'),
			url('../fonts/HelveticaNeue-Thin.woff') format('woff'),
			url('../fonts/HelveticaNeue-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}