@import 'reset.scss';
@import 'fonts.scss';
@import 'icons.scss';

// vars
$main-color: #293152;
$main-orange: #fdb200;
$light-grey: #d8d8d8;
$violet-txt: #606994;

// mixins
@mixin inputPlacehoderColor ($color){
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
    font-family: 'HelveticaNeueItalic';
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
    font-family: 'HelveticaNeueItalic';
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
    font-family: 'HelveticaNeueItalic';
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
    font-family: 'HelveticaNeueItalic';
  }
}

// *{outline:1px solid red;}

// main -wrapper
.main-wrapper{
  min-height: 100vh;
  padding-bottom: 100px;
  margin-bottom: -100px;
}
header.main-header{
  position: relative;
  // height: 0;
  .navbar-default{
    border: 0;
    &.nav-homepage{
      background-color: transparent;
      top: 0;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 300;
    }
    .navbar-flex{
      display: flex;
      .navbar-header{
        min-width: 55%;
      }
      .navbar-collapse{
        min-width: 45%;
      }
    }
  }
  .navbar-header{
    .navbar-toggle{}
    a.navbar-brand{
      display: inline-block;
      position: relative;
      padding: 20px;
      margin-left: 0;
      float: none;
      height: inherit;
      line-height: inherit;
      z-index: 10;
      &:before{
        position: absolute;
        content: '';
        display: block;
        width: 210px;
        height: 210px;
        border-radius: 50%;
        background: rgba(255,255,255,.25);
        top: 0;
        left: 0;
        transform: translate(-5%, -35%);
        z-index: -1;
      }
      img.logo{
        margin-bottom: 5px;
      }
      img.logo-text{
        margin-left: 15px;
      }
    }
  }
  .navbar-collapse{
    padding: 0;
    ul.navbar-nav{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      li{
        a{
          padding: 32px 5px 11px;
          color: white;
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 300;
          min-width: 88px;
          text-align: center;
        }
        &:not(:last-child){
          border-right: 1px solid rgba(#797a98, .38);
        }
        &.active{
          a{
            background-color: rgba(#797a98, .38);
            &:hover{
              color: white;
            }
          }
        }
      }
    }
  }
}

section{
  position: relative;
  .section-ttl-block{
    height: 100%;
    width: 175px;
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    bottom: 0;
    .ttl-inner{
      width: 100%;
      padding: 30px 40px 45px 30px;
      line-height: 1.2;
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 30px;
    }
  }
  .absolute-view-link{
    position: absolute;
    top: 0;
    right: 20%;
    cursor: pointer;
    .view-inner{
      display: flex;
      align-items: center;
      .icon-wrap{
        padding: 13px;
        i.fa{
          font-size: 20px;
          color: #cdcfd5;
        }
      }
      .txt-wrap{
        padding: 22px 15px 10px;
        font-family: AvenirNext;
        font-size: 13px;
        color: #cdcfd5;
        text-transform: uppercase;
        border-left: 1px solid #cdcfd5;
        line-height: 1.3;
      }
    }
  }
}

.top-banner-carousel{
  height: 700px;
  display: flex;
  position: relative;
  .call-block{
    position: absolute;
    left: 0;
    top: 24%;
    z-index: 300;
    min-width: 195px;
    display: flex;
    padding-left: 77px;
    border-radius: 0 100px 100px 0;
    background-color: #2a3352;
    cursor: pointer;
    .call-icon-wrap{
      position: absolute;
      left: 7px;
      top: -10px;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #ffffff;
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.27);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      i.fa{
        font-size: 26px;
        color: #fdb200;
      }
    }
    .call-info{
      padding: 5px 14px 5px 0;
      p{
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 0.9px;
        color: #e9e9e9;
        white-space: nowrap;
        font-family: 'HelveticaNeueRegular';
        span{
          padding-left: 10px;
          font-weight: 200;
          &.yellow{
            font-size: 10px;
            line-height: 1.2;
            color: #fdb200;
          }
          &.time{
            font-size: 11px;
            font-weight: 300;
            line-height: 1.09;
            color: #e9e9e9;
          }
        }
      }
    }
  }
  .carousel-wrapper{
    min-width: 55%;
    position: relative;
    .right-mouse-layer{
      position: absolute;
      display: block;
      width: 16%;
      height: 100%;
      top: 0;
      right: 0;
      background-color: rgba(#6d708e, .77);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 20px;
      i[class^=boat]{
        color: white;
        font-size: 30px;
      }
    }

    .carousel{
      height: 100%;
      .carousel-indicators{
        width: auto;
        left: 0;
        margin-left: 0;
        padding-left: 30px;
        bottom: 30px;
        li{
          width: 7px;
          height: 7px;
          background-color: #6d708e;
          border-color: transparent;
          margin: 3px;
          &.active{
            border-color: white;
            background-color: #fff;
          }
        }
      }
      .carousel-inner{
        height: 100%;
        .item{
          height: 100%;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .carousel-caption{
            left: 0;
            bottom: 70px;
            right: auto;
            padding: 5px 0 5px 30px;
            p{
              margin-bottom: 0;
              font-size: 24px;
              color: #ffffff;
              font-style: italic;
              font-family: 'HelveticaNeueItalic';
              span{
                font-family: 'HelveticaNeueRegular';
                text-transform: uppercase;
                font-weight: normal;
                font-style: normal;
              }
            }
          }
        }
      }
    }
  }

  .center-boat-block{
    position: absolute;
    z-index: 500;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 470px;
      height: 470px;
      border-radius: 50%;
      background: rgba(255,255,255,.2);
      top: -24px;
      right: -53px;
    }
    .center-label-layer{
      background: rgba(255,255,255,.45);
      width: 294px;
      height: 294px;
      border-radius: 50% 50% 50% 0;
      padding: 10px;
      align-self: flex-end;
      margin-bottom: 40px;
      position: relative;
      right: -30px;
      .label-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 274px;
        height: 274px;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 26px 35px;
        .label-tag{
          align-self: flex-end;
          border-radius: 14px;
          background-color: #e9e9e7;
          text-align: center;
          font-size: 26px;
          font-weight: 300;
          font-style: italic;
          color: #04313d;
          padding: 1px 30px;
        }
        .label-ttl{
          text-align: center;
          font-size: 44px;
          color: #242e49;
          font-weight: 300;
          margin-bottom: 22px;
          span{
            font-size: 76px;
            letter-spacing: 2px;
            color: #606994;
          }
        }
        .btn-boat{
          font-size: 13.8px;
          font-weight: 500;
          color: #606994;
          border-radius: 14px;
          border: 1px solid #606994;
          line-height: 1;
          padding: 6px 15px;
        }
      }
    }
    .search-block{
      padding-right: 12px;
      .input-wrapper{
        border-radius: 96px;
        background-color: #ffffff;
        box-shadow: inset 0 1px 2px 0 #b2b2b2;
        display: flex;
        input{
          background: transparent;
          border: 0;
          padding: 11px 18px;
          min-width: 290px;
          line-height: 1.5;
          flex-grow: 1;
          font-size: 17.3px;
          font-weight: 300;
          @include inputPlacehoderColor(#2e3558);
        }
        .btn-warning{
          border-radius: 96px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 11px 28px;
          background-color: #fdb200;
          span{
            padding: 0 25px;
            font-size: 24px;
            letter-spacing: 2px;
            color: #242e49;
          }
          img{
            width: 22px;
          }
          i[class^=boat]{
            font-size: 26px;
            color: #242e49;
          }
        }
      }
    }
  }
  
  .top-nav-layer{
    background-image: linear-gradient(to right, #060048, rgba(55, 57, 117, 0.84) 14%, #242e49);
    min-width: 45%;
    display: flex;
    align-items: center;
    .banner-nav{
      width: 65.5%;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        display: block;
        width: 1px;
        height: 66%;
        border-right: 1px solid #6d708e;
        right: 0;
        top: 17%;
      }
      .nav-row{
        display: flex;
        align-items: center;
        color: rgba(white, .65);
        text-transform: capitalize;
        justify-content: flex-end;
        &:first-child{
          color: #ccc3b2;
          border-color: #ccc3b2;
          text-transform: uppercase;
          margin-bottom: 150px;
          .nav-title{
            text-transform: capitalize;
          }
        }
        .nav-title{
          font-size: 16px;
          letter-spacing: 0.9px;
          color: inherit;
          text-transform: inherit;
          flex-grow: 1;
          border-bottom: 1px solid #6d708e;
          padding-bottom: 5px;
          padding-left: 70px;
          margin-top: -22px;
        }
        .nav-inner{
          display: flex;
          
          .nav-inner-col{
            display: flex;
            flex-direction: column;
            &:not(:last-child){
              border-right: 1px solid #6d708e;
            }
            .nav-cell{
              text-align: center;
              width: 85px;
              height: 80px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              &:first-child{
                border-bottom: 1px solid #6d708e;
              }
              .icon-wrap{
                padding-bottom: 7px;
                i{
                  font-size: 16px;
                  color: inherit;
                }
              }
              .nav-item{
                font-size: 12px;
                letter-spacing: 0.6px;
                line-height: 1.3;
                font-weight: 300;
                color: inherit;
                text-transform: inherit;
              }
            }
          }
        }
      }
    }
  }
}

.feature-boat-section{
  background-color: #e9e9e9;
  padding: 47px 0 24px;
  .section-ttl-block{
    &.with-bg{
      background-color: rgba(#fff,.66);
    }
    .ttl-inner{
      background-color: #fff;
      color: #2a3253;
    }
  }
  .absolute-view-link{
    .view-inner{
      .txt-wrap{
        color: #2e3559;
        border-left: 1px solid #6d708e;
      }
    }
  }
  .feature-carousel-wrapper{
    padding: 45px 0;
    position: relative;
    width: 100%;
    height:545px;
    margin:0 auto;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 545px;
      height: 545px;
      background-color: rgba($violet-txt, 0.2);
      border-radius: 50%;
    }
    .circle-figure-block{
      width: 455px;
    }
  }
}

.our-brand{
  padding: 35px 0 27px;
  .our-brand-inner{
    display: flex;
    padding-bottom: 27px;
    .section-ttl-block{
      .ttl-inner{
        background-color: #cdcfd5;
        color: $violet-txt;
      }
    }
    .brand-list{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      flex-grow: 1;
      .brand-block{
        padding: 20px;
      }
    }
  }
}

.recent-tweet-section{
  background-color: #293152;
  padding-top: 85px;
  .section-ttl-block{
    &.with-bg{
      background-color: rgba(#b69667,.66);
    }
    .ttl-inner{
      background-color: #b69667;
      color: white;
    }
  }
  .absolute-view-link{
    .view-inner{
      .icon-wrap{
        i.fa{
          color: #cdcfd5;
        }
      }
      .txt-wrap{
        color: #cdcfd5;
        border-left: 1px solid #cdcfd5;
      }
    }
  }
  .recent-tweet-wrapper{
    &.owl-carousel{
      .owl-stage{
        display: flex;
        align-items: stretch;
        .owl-item{
          width: 335px;
        }
      }
      .owl-nav{
        width: 80%;
        left: 10%;
        position: relative;
        display: flex;
        justify-content: space-between;
        color: white;
        padding-top: 20px;
        padding-bottom: 38px;
        &>*[class^=owl]{
          width: 129px;
          height: 30px;
          position: relative;
          &:before,
          &:after{
            position: absolute;
            content: '';
            display: block;
          }
          &:before{
            width: 20px;
            height: 20px;
            background: transparent;
            transform: rotate(45deg);
            top: 5px;
          }
          &:after{
            width: 95%;
            height: 1px;
            background-color: #b69667;
            top: 50%;
          }
        }
        .owl-prev{
          &:before{
            border-bottom: 1px solid #b69667;
            border-left: 1px solid #b69667;
            left: 0;
          }
          &:after{
            left: 5%;
          }
        }
        .owl-next{
          &:before{
            border-top: 1px solid #b69667;
            border-right: 1px solid #b69667;
            right: 0;
          }
        }
      }
      .owl-dots{
        display: none;
      }
    }
    .recent-tweet{
      height: 100%;
      display: flex;
      flex-direction: column;
      .img-wrap{}
      .tweet-txt-wrap{
        background: #fff;
        flex-grow: 1;
        padding: 5px 20px 45px;
        position: relative;
        .tweet-info{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 7px 0;
          font-size: 11px;
          color: $violet-txt;
          .tweet-date{
            padding-left: 15px;
            border-left: 1px solid $violet-txt;
          }
        }
        .txt-block{
          padding: 15px 0;
          .txt-inner{
            font-size: 16px;
            font-weight: 300;
            p{
              line-height: 1.56;
              color: #5f5f5f;
            }
            a.tweet-link{
              color: $violet-txt;
            }
          }
        }
        .read-more-block{
          padding: 12px 0 17px;
          position: absolute;
          bottom: 0;
          left: 20px;
          right: 20px;
          border-top: 1px solid rgba($violet-txt, .5);
          a.read-more{
            font-size: 12px;
            color: #2e3559;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.bottom-block-wrapper{
  .bottom-block-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0 80px;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 225px;
      background-color: #e9e9e9;
      z-index: 50;
    }
  }
}

.circle-figure-block{
  padding: 0 20px;
  position: relative;
  z-index: 100;
  .block-figure{
    border-radius: 50% 50% 50% 0;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    padding: 14px;
    background: #fff;
    .block-inner{
      position: relative;
      overflow: hidden;
      border-radius:  50%;
      width: 336px;
      height: 336px;
      .img-wrap{
        >img{
          width: 100%;
          object-fit: cover;
          // border-radius: 50%;
        }
      }
      .bottom-layer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3.txt{
          color: white;
          font-size: 30px;
          letter-spacing: 1px;
          font-weight: 300;
          margin: 0 0 12px;
        } 
        i.fa{
          color: white;
          font-size: 34px;
        }
        &.main-bg{
          background-color: #343a64;
        }
        &.brown-bg{
          background-color: #b69667;
        }
        &.main-light-bg{
          background-color: $violet-txt;
        }
        &.cover-img{
          padding-top: 40px;
        }
      }
      .center-info{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.detail-gallery-wrapper{
  padding-bottom: 36px;
  background-color: #f4f4f4;
  .detail-gallery-inner{
    .detail-gallery-block{
      position: relative;
      .circle-arrow{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #606994;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i{
          color: white;
          font-size: 13px;
        }
      }
      .back-block{
        top: 0;
        left: 0;
        position: absolute;
        z-index: 500;
        padding: 9px 20px 6px 20px;
        border-radius: 0 0 50px 0;
        width: 283px;
        background-color: #cdcfd5;
        a.back-link{
          display: inline-block;
          display: flex;
          align-items: center;
          text-decoration: none;
          .circle-arrow{
          }
          span{
            padding-left: 5px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
            color: #2a3352;
            font-family: 'HelveticaNeueMedium';
          }
        }
      }
      .pending-label{
        border-radius: 4px 0 0 4px;
        background-color: #fdb200;
        padding: 7px 22px 7px 15px;
        font-size: 16px;
        letter-spacing: 0.9px;
        color: #2a3253;
        font-family: 'HelveticaNeueItalic';
        @media(max-width:767px){
          position: absolute;
          right: 0;
          top: 18px;
          z-index: 200;
        }
      }
      .detail-txt-block{
        width: 40%;
        height: 500px;
        background-color: #293152;
        position: absolute;
        z-index: 500;
        right: 0;
        top: 0;
        padding: 18px 0 20px 55px;
        @media(max-width:1330px){
          height: 440px;
        }
        .det-txt-top{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .year{
            color: #fdb200;
            font-size: 30px;
          }
          .price{
            display: flex;
            align-items: center;
            .count{
              padding-right: 15px;
              font-size: 20px;
              color: #ffffff;
            }
          }
        }
        .det-txt{
          padding: 0 55px 0 0;
          h3.txt-ttl{
            font-size: 36px;
            color: white;
            span{
              font-size: 30px;
              color: #606994;
            }
          }
          .txt-block{
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.2px;
            color: #ffffff;
          }
        }
        .bottom-info{
          address{
            display: flex;
            align-items: center;
            i.fa{}
            span{}
          }
          .info-list{
            .info-item{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              i.fa,
              i[class^=boat]{

              }
              span{}
            }
          }
        }
        .bottom-btn-wrap{
          .btn{
            &.warning{}
            &.default{}
          }
        }
      }
      .boat-detail-wrap{
        .circle-arrow{
          position: absolute;
          bottom: 53px;
          cursor: pointer;
          background: rgba(255,255,255,.7);
          &.left{
            left: 10px;
          }
          &.right{
            right: 10px;
            i{
              color: #2a3352;
            }
          }
        }
      }
      ul.boat-detail-gallery{
        li.lslide{
          >img{
            width: 60%;
            height: 500px;
            object-fit: cover;
            @media(max-width:1330px){
              height: 440px;
            }
          }
        }
      }
      ul.lSPager{
        display: flex;
        margin-top: 23px !important;
        li{
          position: relative;
          align-items: stretch;
          &:before,
          &:after{
            position: absolute;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            top: 0;
            bottom: 0;
          }
          &:before{
            width: 100%;
            right: 0;
            background-color: transparent;
          }
          &:after{
            width: 17px;
            background: rgba(255,255,255,.5);
          }
          a{
            img{
              height: 100%;
              object-fit: cover;
            }
          }
          &.active,
          &:hover{
            border-radius: 0;
            &:before{
              background-color: rgba(#293152,.6);
            }
            a{
              img{}
            }
          }
        }
      }
    }
  }
}

.membership-award{
  padding: 30px 0 35px;
  .membership-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
      margin: 0 30px 0 0;
      color: $violet-txt;
      font-size: 30px;
      letter-spacing: 1px;
    }
    ul.membership-list{
      display: flex;
      align-items: center;
      margin-bottom: 0;
      li{
        padding: 0 5px;
      }
    }
  }
}

.contact-us-section{
  .contact-main{
    display: flex;
    .side-info{
      min-width: 342px;
      background-color: #293152;
      padding: 111px 40px 30px;
      .side-ttl{
        margin-bottom: 95px;
        p{
          font-size: 24px;
          font-weight: 300;
          line-height: 1.58;
          letter-spacing: 1px;
          color: #ffffff;
          span{
            font-size: 30px;
            font-weight: normal;
            line-height: 1.27;
            color: #fdb200;
          }
        }
      }
      .side-links{
        a{
          margin-bottom: 5px;
          font-size: 20px;
          line-height: 1.65;
          color: #e9e9e9;
          display: block;
          i.fa{
            font-size: 18px;
            color: #fdb200;
          }
          &.phone-link{
            letter-spacing: 1.5px; 
          }
          &.email-link{
            letter-spacing: 0.3px;

          }
        }
      }
    }
    .form-wrap{
      position: relative;
      background: url('../image/port-bg.jpg') bottom center no-repeat;
      background-size: cover;
      padding: 94px 0 81px;
      flex-grow: 1;
      &:before{
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#2a3352, .86);
        z-index: 5;
      }
      form.contact-form{
        position: relative;
        z-index: 10;
        width: 75%;
        .form-inner{
          background-color: rgba(#e1e3e6,.63);
          padding: 50px 45px 35px;
          margin-bottom: 32px;
          .form-group{
            margin-bottom: 10px;
            label{
              font-size: 14px;
              font-weight: 300;
              color: #2a3352;
            }
            .form-control{
              background-color: #f9f9f9;
              box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
              border: 0;
              border-radius: 0;
              &:not(textarea){
                height: 46px;
              }
            }
            textarea.form-control{
              height: 124px;
            }
          }
        }
        .btn-warning{
          border-radius: 96px;
          align-items: center;
          display: flex;
          justify-content: center;
          padding: 10px 35px;
          background-color: #fdb200;
          font-size: 24px;
          line-height: 1;
          letter-spacing: 2px;
          color: #242e49;
          display: inline-block;
        }
      }
    }
  }
  .contact-bottom{
    width: 100%;
    height: 87px;
    background-color: #cdcfd5;
    border-top: 17px solid white;
  }
}

.book-appointment{
  padding: 10px 0 49px;
  background-color: #f4f4f4;
  overflow: hidden;
  .back-layer{
    display: flex;
    position: absolute;
    top: 58px;
    right: 0;
    bottom: 96px;
    left: 0;
    width: 100%;
    z-index: 10;
    .left-layer{
      min-width: 50%;
      background-color: #cdcfd5;
    }
    .right-layer{
      min-width: 50%;
      background: url('../image/yaxty-port.jpg') bottom center no-repeat;
      background-size: cover;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#2a3352,.57);
      }
    }
  }
  .book-main{
    width: 565px;
    height: 565px;
    position: relative;
    z-index: 100;
    margin: 0 auto;
    background: rgba(255,255,255,.45);
    border-radius: 50% 50% 50% 0;
    padding: 20px;
    &:before{
      position: absolute;
      content: '';
      display: block;
      z-index: -1;
      left: -125px;
      top: -111px;
      width: 565px;
      height: 565px;
      border-radius: 50%;
      background-color: rgba(255,255,255,.2);
    }
    .book-inner{
      background: #fff;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      padding-top: 68px;
      .book-ttl{
        font-size: 30px;
        color: #2a3352;
        text-transform: capitalize;
      }
      form.book-form{
        padding: 25px;
        .form-group{
          text-align: center;
          margin-bottom: 20px;
          label{
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.5px;
            color: #2e3558;
          }
          .form-control{
            text-align: left;
            border: 0;
            height: 38px;
            border-radius: 19.2px;
            background-color: #e1e3e6;
            box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
            @include inputPlacehoderColor(rgba(#2e3558,.5));
            padding: 6px 20px;
          }
          .btn-warning{
            border-radius: 96px;
            align-items: center;
            justify-content: center;
            padding: 10px 35px;
            background-color: #fdb200;
            font-size: 23px;
            line-height: 1;
            letter-spacing: 2.1px;
            color: #2a3352;
            display: inline-block;
            font-weight: 500;
            font-family: 'AvenirNext';
          }
          &.btn-wrap{
            padding-top: 26px;
          }
        }
      }
    }
    .book-circle-block{
      position: absolute;
      right: -145px;
      width: 245px;
      height: 245px;
      border-radius: 50%;
      background-color: rgba(#606994,.79);
      padding: 30px 26px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:after{
        position: absolute;
        content:'';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 28px;
        background-color: #f4f4f4;
        z-index: 100;
      }
      p{
        margin-bottom: 0;
        font-size: 36px;
        font-weight: 100;
        color: #ffffff;
        line-height: 1.3;
        span{
          font-family: 'HelveticaNeueRegular';
          font-size: 30px;
        }
      }
      span{
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        line-height: 1.3;
        &.last{
          font-size: 30px;
        }
      }
    }
  }
}

.specification-sect{
  padding-bottom: 26px;
  background: #fff;
  display: flex;
  .spec-side{
    min-width: 342px;
    background-color: #293152;
    padding: 15px 10px 15px 32px;
    h3.main-ttl{
      font-size: 30px;
      letter-spacing: 1px;
      text-align: left;
      color: #ffffff;
      padding-bottom: 10px;
      position: relative;
      &:after{
        position: absolute;
        content:'';
        display: block;
        width: 45px;
        height: 1px;
        background: #fdb200;
        bottom: 0;
        left: 0;
      }
    }
    h4.list-ttl{
      font-size: 16px;
      letter-spacing: 1px;
      color: #fdb200;
    }
    ul.spec-list{
      margin-bottom: 20px;
      li{
        display: flex;
        font-size: 14px;
        color: #ffffff;
        .spec-label{
          min-width: 45%;
          line-height: 1.43;
          font-family: 'HelveticaNeueRegular';
          text-align: left;
          opacity: 0.8;
        }
        .info{
          min-width: 55%;
          padding-left: 15px;
          line-height: 1.43;
        }
      }
    }
  }
  .spec-main{
    background-color: #f8f8f8;
    .spec-column-block{
      height: 820px;
      columns: 4;
      column-rule: 1px solid #cdcfd5;
      padding: 10px 0 20px;
      .col-inside{
        padding: 15px 25px 65px;
        h5.col-ttl{
          font-size: 16px;
          letter-spacing: 1px;
          color: #2a3352;
          position: relative;
          padding-bottom: 13px;
          margin-bottom: 16px;
          &:after{
            position: absolute;
            content:'';
            display: block;
            height: 1px;
            width: 42px;
            background: #606994;
            left: 0;
            bottom: 0;
          }
        }
        .col-txt{
          p{
            font-size: 14px;
            line-height: 1.43;
            color: #2a3352;
            margin-bottom: 0;
          }
          &.style-txt{
            p{
              font-family: 'HelveticaNeueItalic';
            }
          }
        }
      }
    }
    .spec-bottom-block{
      display: flex;
      padding: 25px 20px;
      background: #fff;
      .bottom-ttl{
        padding: 0 20px;
        font-size: 30px;
        color: #2a3352;
        border-right: 1px solid #2a3352;
        line-height: 1.2;
      }
      .bottom-txt{
        padding: 10px 30px;
        p{
          margin-bottom: 0;
          font-size: 16px;
          line-height: 1.63;
          color: #2a3352;
        }
      }
    }
  }
}

// footer style
footer.main-footer{
  background-color: $main-color;
  padding: 30px 30px 46px;
  .foot-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .foot-flex{
      p.copyright{
        font-size: 14px;
        font-weight: 300;
        color: white;
        margin-bottom: 0;
      }
    }
    ul{
      margin-bottom: 0;
      display: flex;
      align-items: center;
      &.foot-nav{
        li{
          padding: 0 24px;
          &:not(:last-child){
            border-right: 1px solid #606994;
          }
          a{
            font-size: 14px;
            color: $light-grey;
          }
        }
      }
      &.soc-link{
        li{
          padding: 0 15px;
          h4{
            margin: 0;
            font-weight: normal;
            color: $main-orange;
            font-size: 18px;
            line-height: 1;
          }
          a{
            color: $main-orange;
            i.fa{
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}